<html>
<head>
	<title>Fluid Multitouch</title>
	<link rel='stylesheet' href='demo.css'/>

	<meta name="viewport" content="width=device-width, user-scalable=no">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://underscorejs.org/underscore-min.js"></script>
	<script src='fluid.js'></script>
</head>
<body>
{{> body }}
</body>
</html>